Package: libpam-ardukey
Version: 1.0.0
Section: admin
Priority: extra
Depends: python (>= 2.7), libpam-python
Architecture: all
Installed-Size: 30
Maintainer: Bastian Raschke <bastian.raschke@posteo.de>
Homepage: https://sicherheitskritisch.de
Description: Pluggable Authentication Module for 2FA with ArduKey.
  Lorem ipsom
  .
  Lorem ipsom
